body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	font-weight: bold;
	background: white;
}

#start-button {
	padding: 20px;
	border-radius: 60px;
	font-size: 3em;
	border: 3px solid black;
}

.button {
	opacity: 0.5;
	transition: opacity 0.5s;
	cursor: pointer;
}

div.button {
	background: white;
}

.button:hover {
	opacity: 0.75;
}

.button:active {
	transition: initial;
	opacity: 1;
}

#temp {
	font-family: monospace;
	font-size: 3em;
}

#start-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 50%;
}

#pause-button {
	padding: 10px 20px;
	border-radius: 60px;
	font-size: 3em;
	border: 3px solid black;
	width: 1em;
	height: 1.5em;
}

#pause-button::after {
	content: "\25b6";
}

body[data-paused] #pause-button::after {
	content: "\23f8";
}

#volume-input {
	margin: 0;
	margin-top: 1.5em;
	font-size: 1.5em;
	display: flex;
	width: 400px;
	align-items: center;
	justify-content: space-around;
}

body[data-muted] #volume-input-inner, #time-management-input {
	pointer-events: none;
	opacity: 0.5;
}

#volume-test {
	font-size: 1.5em;
	padding: 5px;
	margin: 0;
	margin-bottom: 1.5em;
	border-radius: 10px;
	border: 1px solid black;
}

#mute-unmute::after {
	width: 1.4em;
	display: block;
	content: "\1f50a";
	padding: 5px;
	border: 1px solid black;
	border-radius: 50%;
}

body[data-muted] #mute-unmute::after {
	content: "\1f507";
}

#time-management-input {
	text-align: right;
}

body[data-state="START"] #time-management-input {
	pointer-events: initial;
	opacity: 1;
}

input[type="number"] {
	width: 4em;
	height: 2em;
}

body[data-state="START"] #state::after { content: "START"; }
body[data-state="WORKING"] #state::after { content: "Work time..."; }
body[data-state="END-WORKING"] #state::after { content: "End of work"; }
body[data-state="BREAK"] #state::after { content: "Break time..."; }
body[data-state="END-BREAK"] #state::after { content: "End of break"; }
body[data-state="LONG-BREAK"] #state::after { content: "Long break time..."; }
body[data-state="END-LONG-BREAK"] #state::after { content: "End of long break"; }
body[data-state="END"] #state::after { content: "END"; }

body[data-state="WORKING"] { background: #ffa0a0; }
body[data-state="END-WORKING"] { background: #ff5050; }
body[data-state="BREAK"] { background: #a0a0ff; }
body[data-state="END-BREAK"] { background: #5050ff; }
body[data-state="LONG-BREAK"] { background: #a0a0ff; }
body[data-state="END-LONG-BREAK"] { background: #5050ff; }

#state {
	font-size: 3em;
}
